<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cesco.FW.Global.DBAdapter" version="1.2211.0.2" targetFramework="net35" />
  <package id="Cesco.FW.Global.Groupware" version="1.1910.1.7" targetFramework="net461" />
  <package id="EASendMail" version="1.0.0" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3.1" targetFramework="net35" />
  <package id="RestSharp.Build" version="1.0.0" targetFramework="net461" />
</packages>